<nav class="navbar navbar-expand-lg navbar-light " style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,58,89,1) 36%, rgba(0,212,255,1) 100%);">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 109px;">
        <i style="color: white;" class="bi bi-dice-4"></i>
        <li class="nav-item">
          <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
         <H6><span style="color: white;margin-left:4px">KONNECT INSIGHTS</span></H6> 
        </li>
      </ul>
      <span class="navbar-text" style="margin-right:85px"><button type="button" class="btn btn-warning">Get a Free Trail</button>

      </span>
    </div>
  </div>
</nav>
<!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,58,89,1) 36%, rgba(0,212,255,1) 100%);">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight text-white">
            #1 Alternative to
            <span class="text-warning">Social Studio.</span>
             <br />
            <span class="text-white">Seamlessly Integrate
              with Salesforce</span>
          </h1>
          <p style="color: #A6B6C4">
            Introducing Konnect Insights,an ALL-IN-ONE
            platform for Social Listening, Social Care, Social
            Analytics, Social Publishing and much more!
          </p>
        </div>

        <div class="col" style="margin-left:10rem">
          <div class="card" style="border: solid #275c89 2.83px; background-color: #09243C;width: 420px;
            height: 494px;">
            <div class="card-body py-5 px-md-5">
              <form>
                <div class="mb-3">
                  <label class="form-label">Full Name</label>
                  <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label  class="form-label">Mobile</label>
                  <input type="number" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                  <label  class="form-label">Company Name</label>
                  <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-warning btn pull-right">Submit</button>
                <div class="text-left">
                  NO CC REQUIRED
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
<!-- client -->
<div id="ourclients"style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,58,89,1) 36%, rgba(0,212,255,1) 100%);" >
  <p style="text-align: center;font-size: 18;font-weight: 400;color: #A6B6C4;">TRUSTED BY 1000+ GLOBAL BRANDS</p>
    <div class="clients-wrap">
      <ul id="clientlogo" class="clearfix">
        <li>
          <img src="https://pngimg.com/uploads/mini/mini_PNG11789.png" alt="Logo">
        </li>
        <li>
          <img src="https://pngimg.com/uploads/mini/mini_PNG11789.png" alt="Logo">
        </li>
        <li>
          <img src="https://pngimg.com/uploads/mini/mini_PNG11789.png" alt="Logo">
        </li>
        <li>
          <img src="https://pngimg.com/uploads/mini/mini_PNG11789.png" alt="Logo">
        </li>
        <li>
          <img src="https://pngimg.com/uploads/mini/mini_PNG11789.png" alt="Logo">
        </li>
        <li>
          <img src="https://pngimg.com/uploads/mini/mini_PNG11789.png" alt="Logo">
        </li>
       <li>
       </li>
      </ul>
    </div>
  </div>

<div class="container p-4">
  <div class="row">
    <div class="col">.
      <h1 style="text-align: center;font-size: 30px;font-weight: 700;"> Why Konnect Insights is the <span style="background: #00d4ff;
        ">Best Social Studio Alternative?</span>
      
      </h1>
    </div>
  </div>
  <div class="card-group p-4">
    <div class="card">
      <img src="https://mdbootstrap.com/img/Photos/Others/images/43.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Create rules to automate pushing tickets</p>
      </div>
    </div>
    <div class="card">
      <img src="https://mdbootstrap.com/img/Photos/Others/images/43.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Seamlessly sync status in both systems</p>
      </div>
    </div>
    <div class="card">
      <img src="https://mdbootstrap.com/img/Photos/Others/images/43.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Achieve field/object mapping</p>
      </div>
    </div>
    <div class="card">
      <img src="https://mdbootstrap.com/img/Photos/Others/images/43.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Respond to social media tickets from Salesforce</p>
      </div>
    </div>
    <div class="card">
      <img src="https://mdbootstrap.com/img/Photos/Others/images/43.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Send social media tickets & contacts to Salesforce</p>
      </div>
    </div>
  </div>
  <div class="text-center p-4">
    <button type="button" class="btn btn-warning">Get a Free Trail</button>
  </div>
  <div class="text-center">
    NO CC REQUIRED
  </div>
</div>
<div class="slider">
  <div class="text-center" style="margin-bottom: 1rem;font-weight: 700; ">
    3000+ INTEGRATIONS & 100% DATA COVERAGE ACROSS THE INTERNET!
  </div>
  <div class="slide-track">
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="">
    </div>
  </div>
</div>
<div class="container p-4">
  <div class="row">
    <div class="col">.
      <h1 style="text-align: center;font-size: 30px;font-weight: 700; "><span style="background: #00d4ff;
        "> Benefits of the Integration</span>
      </h1>
    </div>
  </div>
  <div class="card-group p-4">
    <div class="card mb-3" style="max-width: 540px;background: #F4F4F4;margin-right: 2rem;border-radius: 14px;width: 376px;height:123px;
    ">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://mdbootstrap.com/img/Photos/Others/images/43.webp" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text">One-View of the customer in Salesforce</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;background: #F4F4F4;margin-right: 2rem;border-radius: 14px;width: 376px;height:123px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://mdbootstrap.com/img/Photos/Others/images/43.webp" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text">Empowers agents with real-time access to social media conversations</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;background: #F4F4F4;border-radius: 14px;width: 376px;height:123px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://mdbootstrap.com/img/Photos/Others/images/43.webp" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text">Lead generation from social media created as opportunities in SFDC</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center p-4">
    <button type="button" class="btn btn-warning">Get a Free Trail</button>
  </div>
  <div class="text-center">
    NO CC REQUIRED
  </div>
</div>

<div class="row">
  <div class="col">.
    <h1 style="text-align: center;font-size: 30px;font-weight: 700;">
     <span style="background: #00d4ff;
     ">Unify</span>  your <span style="background: #00d4ff;
        ">Customer Care</span> and <span style="background: #00d4ff;
        ">Marketing Insights</span>
    </h1>
    <p style="text-align: center;font-size: 18;font-weight: 400;">Stop spending on 10+ tools and save up to 91% of your SaaS spend.</p>
  </div>
</div>